@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root:has(.no-scroll) {
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #f9fafb;
  clip-path: inset(0 -100vmax);
}
